body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #00763A;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #00763A;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    
    padding: 0 20px;
}

.logo {
    max-width: 150px;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    margin: 10px 0;
}

h2 {
    margin: 5px;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.welcome-message {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.welcome-message p {
    text-align: justify;
}
.welcome-message h2 {
    font-size: 2em;
    color: #00763A;
    margin-bottom: 20px;
}

.igor {
    font-size: 20px;
    color: #00763A;
}

.sice-securyt {
    font-size: 20px;
    color: #00763A;
}

.curriculum {
    color: #00763A;
}

.curriculum:hover {
    color: blue;
}

.university-history {
    background-color: #fff;
    padding: 40px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.university-history h2 {
    font-size: 2em;
    color: #00763A;
    margin-bottom: 20px;
}

.saiba-mais{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
    background-color: #00763A;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.container {
    display: flex;
    justify-content: center;
}

.container1 {
    display: flex;
    justify-content: center;
}

iframe {
    border: none;
    width: 80%;  
    height: 80%;
    border-radius: 8px;
}

.visite-nos {
    text-align: center;
}
.saiba-mais:hover {
    background-color: #00763A;
}

.university-history a {
    text-align: center;
}

.fundador a {
    text-align: center;
}
.university-history {
    margin-top: 40px;
}

.university-history h2 {
    font-size: 2.2em;
    color: #00763A;
    margin-bottom: 20px;
    text-align: center;
}

.history-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.img-lab{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.techbase{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.title-techbase {
    font-size: 20px;
    color: #00763A;
}

.horario-image{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.quadro-horario {
    background-color: #fff;
    padding: 40px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.quadro-horario h2 {
    font-size: 2em;
    color: #00763A;
    margin-bottom: 20px;
}

.quadro-horario h2 {
    text-align: center;
}

.avaliacao {
    background-color: #fff;
    padding: 40px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.avaliacao h2 {
    font-size: 2em;
    color: #00763A;
    margin-bottom: 20px;
}

.avaliacao h2 {
    text-align: center;
}

.localizacao {
    background-color: #fff;
    padding: 40px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.localizacao h2 {
    font-size: 2em;
    color: #00763A;
    margin-bottom: 20px;
    text-align: center;
}

.links-uteis {
    background-color: #fff;
    padding: 40px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.links-uteis h2 {
    font-size: 2.3em;
    color: #00763A;
    margin-bottom: 20px;
}

.div-pai {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #00763A;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

footer {
    background-color: #00763A; /* Verde escuro */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

.p-aluno{
    text-align: center;
}

.icon-img {
    text-align: center;
    padding: 10px;
}